:root {
  --primary: #f2f5c8;
  --secondary: #e8e8a6;
  --tertiary: #c1deae;
  --quaternary: #219f94;
  --grad-start: rgba(33, 159, 148, 0.3);
  --grad-end: rgba(220, 66, 37, 0.5);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pointer {
  text-decoration: none !important;
  cursor: pointer;
  color: var(--secondary-color);
}

.pointer:hover {
  text-decoration: none !important;
  cursor: pointer;
  color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Shadow, bottom, light-mode, 1st strength */
.sbl-1 {
  box-shadow: 0px 5px 15px 1px #333;
}

.sbd-1 {
  box-shadow: 0px 5px 15px 1px #fff;
}

.color-invert {
  filter: invert();
}

input.search-dark {
  background-color: #161625;
  color: #c2c2da;
}

input.search-dark:focus {
  background-color: #121212;
  color: #c2c2da;
}

.o-8 {
  opacity: 0.8;
}
.o-6 {
  opacity: 0.6;
}
.o-4 {
  opacity: 0.4;
}
.o-2 {
  opacity: 0.2;
}

.react-darkMode-switch {
  margin: 0.9rem;
  /* margin-bottom: 1.2rem; */
  /* size: 120; */
}

#nav-logo {
  width: 2rem;
  height: auto;
}

.mui-nav-link {
  text-decoration: none;
  color: inherit;
}
.mui-nav-link:hover {
  color: inherit;
}

/* Suggestions from the video ******************************** */
.spacer {
  aspect-ratio: 540/960;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-stacked-waves-0-A {
  background-image: url('./image/layered-waves-haikei-A-540x960.svg');
  /* height: 100vh; */
}
/* Suggestions from the video ******************************** */

.bg-stacked-waves-1-A {
  /* background-image: url('./image/layered-waves-haikei-A-540x960.svg'); */
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  /* padding: 100% 20vw; */
  padding-bottom: 100%;
  padding-left: 20vw;
  /* padding-right: 20vw; */
}
.bg-stacked-waves-1-B {
  background-image: url('./image/layered-waves-haikei-B-540x960.svg');
}
.bg-stacked-waves-C {
  background-image: url('./image/layered-waves-haikei_C.svg');
}

.test-bg-1 {
  background-image: url('./image/blob-scene-haikei.svg');
}

.bg-color-primary {
  background-color: var(--primary);
}
.bg-color-secondary {
  background-color: var(--secondary);
}
.bg-color-tertiary {
  background-color: var(--tertiary);
}
.bg-color-quaternary {
  background-color: var(--quaternary);
}

.mb-6 {
  margin-bottom: 4em;
}

.text-title {
  font-family: 'Roboto Mono', monospace;
  font-size: 3rem;
}

.text-header {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
  letter-spacing: 1.08rem;
  overflow: hidden;
  text-transform: uppercase;
}

.cert-badge {
  width: auto;
  height: auto;
  max-width: 10rem;
  max-height: 10rem;
  margin: 1rem 0.2rem;
  padding: 0.9rem;
}

.custom-shape-divider-bottom-1644088460 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1644088460 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1644088460 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-top-1644088736 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1644088736 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1644088736 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-bottom-1644089737 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1644089737 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 68px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1644089737 .shape-fill {
  fill: #ffffff;
}

.nav-icon {
  font-size: 4rem;
}

/* My custom Bootstrap classes */
@media (max-width: 575px) {
  .navbar-expand-xs {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-xs .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-xs .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-xs .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-xs .navbar-nav-scroll {
    overflow: visible;
  }
}

.img-gradient {
  position: relative;
  display: inline-block;
}
.img-gradient:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: -moz-linear-gradient(
    top,
    rgba(0, 47, 75, 0.5) 0%,
    var(--tertiary) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, var(--tertiary)),
    color-stop(100%, rgba(0, 47, 75, 0.5))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    var(--grad-start) 0%,
    var(--tertiary) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(0, 47, 75, 0.5) 0%,
    var(--tertiary) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(0, 47, 75, 0.5) 0%,
    var(--tertiary) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    var(--grad-start) 0%,
    var(--tertiary) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}
.img-gradient img {
  display: block;
}

.card-img-top {
  max-width: 100%;
  width: 100%;
  height: 42rem;
  object-fit: cover;
}
